html, body {
    min-height: 100vh;
}

body {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    color: #484848;
    padding: 0;
    margin: 0;
}
