footer {
    justify-content: center;
    bottom: 0;
    box-sizing: border-box;
    background-color: white;
    height: 60px;
    align-items: center;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    position: absolute;
    display: flex;
}
